*{ 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{ 
    --bg-color: #111b21; 
    --color: #e2dede9b; 
    --size: 45px; 
    --left-bg-color: #0a1014; 
    --text-color: #00a884; 
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{ 
    background-color: var(--bg-color);
}

/* ///////////////////////////////////////////////// */

.loader{ 
    width: 100%;
    height: 100vh; 
    display: grid;
    place-content: center;
    background-color: #000;
    color: var(--color);
    font-family: var(--font-family);
}

.loader-el { 
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .loader .head{
    margin: 20px;
} */

/* .head { 
    padding: 1em;
} */

 .loader-el .loader-svg{ 
    width: 60px;
    height: 0px;
    transition: 3s;
  
} 

#progress-b{ 
    position: relative;
    width: 30em;
    height: 3px;
    background-color: gray;
}

#bar{ 
    position: absolute;
    width: 1px;
    height: 100%;
    transition: 10s;
    background-color: #ffffff64;
}


/* ///////////////////////////////////////////////// */

/* ///////////////////////////////////////////////// */

.loader_2{ 
    width: 100%;
    height: 100vh; 
    display: grid;
    place-content: center;
    background-color: #000;
    color: var(--color);
    text-align: center;
    font-family: var(--font-family);
}
.loader-el_2 { 
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#progress-b_2{ 
    position: relative;
    width: 30em;
    height: 3px;
    background-color: gray;
}

#bar_2{ 
    position: absolute;
    transition: 10s;
    width: 0px;
    height: 100%;
    background-color: var(--text-color);
}


/* ///////////////////////////////////////////////// */

.all-section{
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section { 
    width: 100%;
    height: 100vh;
}
.side-nav-panel{ 
    width: 26em;
    height: 100vh;
    background-color: var(--left-bg-color); 
    /* box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.572); */
    border-right: .3px solid #ffffff2c; 
}

.images-container{ 
    width: 100%;
    height: 5em;
    background-color: var(--bg-color);
    
}
.images{ 
    padding: 15px ;
}
.user-image{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all-svg{ 
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
svg { 
    color: rgba(255, 255, 255, 0.722);
    cursor: pointer;
}
.male-30-image{ 
    width: var(--size);
    margin: none;
    border: 1px solid transparent;
    border-radius: 50%;
}

/* Search Section */

.containers{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 19px;

}

.search-option{ 
    width: 100%;
    height: 4em; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-form{
    /* width: 23em; */
    height: 6.5vh;
    background-color: var(--bg-color);
    border-radius: 9px;
    padding: 0em  1.2em 0em .6em ;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
form{
    width: 100%;
    height: 10vh;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

input[type=text]{ 
    width: 19.5em;
    height: 2.6vh;
    border: none;
    padding: 0px 0px 0px 30px; 
    font-family: Arial, Helvetica, sans-serif ; 
    font-size: 15px;
    background-color: var(--bg-color);
    color: var(--color);    
}

input[type=text]:focus{ 
    outline: none;
    outline-color: transparent;
    background-color: var(--bg-color);
}

/* archived option */
.container-1{ 
    padding: 28px;
}
.container-1 svg{ 
    color: #00a884;
}
.message-archived{ 
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.133) ;
    padding-bottom: 1em;
    width: 19.2em;
    align-items: center;
}
.archived-section{ 
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-between;
}
.archived-message{ 
    color: var(--color);
    font-family: var(--font-family) ; 
    font-size: 17px; 
    text-align: right;
    padding-right: 2em ;
}
.ar:hover{ 
    background-color: #243038;
    cursor: pointer;
}
.number-of-archived{ 
    color: #00a884; 
    font-family: var(--font-family); 
    font-size: small;
}

main{ 
    width: 100%;
    height: 30em;
    overflow: auto;  
}

/* Message */

.gap{ 
    margin-top: -2em ;
}


.message-section{ 
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-between;
}
.gap:hover{ 
    background-color: #243038;
    cursor: pointer;
}

.message-image{ 
 
    /* color: #fff;
    font-family: var(--font-family) ; 
    font-size: 17px;  */
    width: 2em;
    height: 2em;
    border-radius: 20%;
    
}
.message-el{ 
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.133) ;
    padding-bottom: 1em;
    padding-left: -9em;
    width: 18em;
    align-items: center;
}

.message-name{ 
    color: #fff;
    font-family: var(--font-family) ; 
    /* display: grid;
    place-items: left; */
    font-size: 17px; 
    /* padding-right: 2em ; */
}

.number{ 
    text-align: center;
    color: #00a884;
    font-family: var(--font-family); 
    font-size: small;
    display: grid;
    place-items: center;
   
}

/* Styling The Scroll Bar  */

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 3px;
    border-radius: 20px;
}

  
  ::-webkit-scrollbar-track {
    background: var(--bg-color);
    height: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    /* height: 5em; */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 10px; 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 10px;
  }
/* <================= Ended =====================>   */

.number-message{ 
    color: #000;
    background-color: #00a884; 
    width: 20px;
    height: 20px;
    text-align: center;  
    border-radius: 50%;
    font-family: var(--font-family); 
    font-size: small;
   
}




.left_side_loader{
    width: 200em;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--color);
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    
}

.l-s-text-header{ 
    font-size: xx-large;
}
.l-s-image{ 
    margin-bottom: -10em;
}
.l-s-text{
    margin-top: 1.5em;
   
}
.l-s-text-para { 
    padding-top: 20px;
}


/* messge description  */

.main-message{ 
    width: 200em;
    height: 100vh;
    display: none;
    transition: 3s;
    background-image: url('images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color);
    font-family: var(--font-family);
}

.main-message .wrapper { 
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: space-between;
    
}

.msg-des{ 
    width: 100%;
    height: 5em;
    z-index: 1;
    background-color: var(--bg-color);
}

.dec-img{ 
    width: 60px;
    border-radius: 50%;
}
.dec { 
    display: flex;
    align-items: center;
    justify-content: center;
}
.dec .main-dec { 
    padding-left: .7em;
    color: #fff;
}
.user-dec-image{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.all-dec-svg{
    display: flex;
    align-items: center;
    justify-content: center;

}

.chat-box { 
    width: 100%;
    height: 4em;
    z-index: 1;
    background-color:  #1f2c3677; 
}

/* .chat-int{ 
   padding: 0  30px 0 30;
} */

.chat-int input[type=text]{ 
    width: 50em;
    height: 40px;
    border-radius: 10px;
    color: #fff;
}
/* .chat-int input[type=text]::placeholder{ 
  
} */

/* chat box message */

.msg-chat{ 
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center; 
   
    
}

.message_div  .input_message { 
    padding: .5em;
    margin-left: 40em;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 6px;
    border-top-right-radius: 5px;
    background-color: var(--bg-color);
    color: #fff;
}

.msg-chat .img{ 
    margin: 40px 10px 50px 60px;
    width: 30px;
    border-radius: 50%;
}
.msg-chat .reply_message{ 
    padding: .5em;
    margin-top: 40px;
    border-radius: 6px;
    border-top-left-radius: 2px;
    background-color: var(--bg-color);
    color: #fff;
}


.message_div{
    width: 100%;
    height: 50.5em;
    overflow: auto;
   
}
.chat-wrapper{ 
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
