*{ 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{ 
    ---bg-color: #111b21; 
    --color: #e2dede; 
    --size: 50px; 
    ---left-bg-color: #0a1014; 
}
body{ 
    background-color: var(---bg-color);
   
}
.side-nav-panel{ 
    width: 26em;
    height: 100vh;
    background-color: var(---left-bg-color); 
    /* box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.572); */
    border-right: .3px solid #ffffff2c; 
}
.right-side-nav-panel { 
    background-color: var(---bg-color), red;
    margin-left: 20em;
    width: 20em;
    height: 100vh;
}
.male-30-image{ 
    width: var(--size);
    margin: none;
}
